.container-hea {
  width: 180px;
  height: 60px;
  transform: translate(-50%, -50%);
  margin-left: 250px;
  margin-top: 50px;
  box-shadow: 3px 3px 5px rgb(68, 91, 112);
}

.center-hea {
  width: 180px;
  height: 60px;
  display: flex;
  flex-direction: column;
}

.btn-hea {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid aqua;
  outline: none;
  transition: 1s ease-in-out;
  display: inline-block;
}

header svg {
  width: 180px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn-hea:hover {
  transition: 1s ease-in-out;
  background: rgb(68, 91, 112);
}

.btn-hea:hover svg {
  stroke-dashoffset: -480;
}

.btn-hea span {
  color: aqua;
  font-size: 18px;
  font-weight: 100;
}
.btn-hea span:hover{
    color:  rgb(68, 91, 112);
}
.container {
  width: 180px;
  height: 60px;
  transform: translate(-50%, -50%);
  margin-left: 300px;
  margin-top: 50px;
  box-shadow: 3px 3px 5px rgb(68, 91, 112);
}

.center {
  width: 180px;
  height: 60px;
  display: flex;
  flex-direction: column;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid aqua;
  outline: none;
  transition: 1s ease-in-out;
  display: inline-block;
}

svg {
  width: 180px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: rgb(68, 91, 112);
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: aqua;
  font-size: 18px;
  font-weight: 100;
}
.btn span:hover{
    color:  rgb(68, 91, 112);
}
header ul li a:hover{
    color: rgb(173, 179, 185);
    font-size: 31px;
    transition: 0.8s;
}
.logo:hover{
  filter: drop-shadow(1px 1px 70px aqua);
  transition: 1.5s;
}
/* segunda parte */
.img-tec:hover{
  width: 220px;
  transition: 0.2s;
  margin: 0%;
}
/* TERCEIRA PARTE */
.projetos:hover{
  width:  450px;
  height: 550px;
  transition: 2s;
}
.projetos:hover .img-proj{
  width: 450px;
  transition: 2s ;
  
}
