header{
    background-color: #031230;
    display: flex;
    flex-direction: row;
    height: 170px;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
    padding-left: 100px;
    padding-right: 100px;

}

header a{
    color: aqua;
    text-decoration: none;
    display:inline block;
}
header ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
header li{
    display: inline-block;
    margin-left: 30px;
    font-size: 30px;
    text-shadow: 3px 3px 5px rgb(0,0,0,0.7);
}
.logo{
    width: 300px;;
    margin: 0%;
   
}
body{
    align-items: center;
    justify-content: center;
    background-color: #031230;
    padding: 0px;
    margin: 0px;
}
.apresentacao{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0% !important;
}
.apresentacao-texto{
    height: 700px;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 100px;
}
.apresentacao-texto p{
    font-size: 30px;
    text-align: justify;
}
.apresentacao-texto span{
    font-size: 30px;
    color: aqua;
}
#inicio{
    margin: 0px;
    font-size: 60px;
}
h2{
    font-size: 55px;
}
.apresentacao{
    display: flex;
    padding: 100px;
    padding-top: 5px;
}
.img-apresentacao{
    margin-top: 50px;
    width: 400px;
    height: 300px;
    border-radius: 45%;
}
h1{
    color: rgb(173, 179, 185);
}
p{
    color: aliceblue;
}
.apresentacao-texto h2{
    color: rgb(68, 91, 112);
    margin: 0%;
}
.button-apre{
    background-color: #041841;
    color: aqua;
    height: 70px;
    width: 300px;
    font-size: 20px;
    border-color: aqua;
}
/* SEGUNDA PARTE */
#tec{
    text-align: center;
    color: rgb(68, 91, 112);
}
.tecnologia{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.img-tec{
    width: 200px;
    margin: 12px;
}
/* TERCEIRA PARTE */
#proj{
    text-align: center;
    color: rgb(68, 91, 112);
}
.projetos-principal{
    display: flex;
    flex-direction: column;
    background-color: #051535;
    width: 100%;
    height: 1000px ;   
}
.meus-projetos{
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: center;
}
.projetos{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin: 60px;
    border: 10px solid;
    border-color: aqua; 
    background-color:  #051535;
    align-items: center;
    border-radius: 10%;
    text-align: center;
}
.img-proj{
    width: 400px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}
#proj{
    color: aqua;
}
#destaque{
    color: aqua;
}
#texto-proj{
    font-size: 30px;
    color: aliceblue;
}
.texto-proj p{
    padding-left: 50px;
    padding-right: 50px;
}
.texto-proj a{
    
    color: aqua;
}
.btn-proj{
    height: 40px;
    margin-top: 20px;
    color: aqua;
    border: 4px solid;
    border-color: aqua ;
    background-color: #051535;
    border-radius: 10px;
}
@media screen and (max-width: 1220px){
    header{
        height: 100px;
        width: 100%;
        padding: 0;
    }
    header ul li a{
        font-size: 0px;
    }
    .logo{
        width: 100px;
    }
    .apresentacao{
        width: 100%;
        height: 550px;
        flex-direction: column;
        margin: 0%;
        padding: 0%;
        align-items: center;
    }
    .apresentacao-texto{
        height: 600px;
        width: 300px;
        margin: 0%;
    }   
    #inicio{
        height: 30px;
        width: 300px;
        font-size: 30px;
    }
    .apresentacao-texto h2{
        font-size: 25px;
    }
    .apresentacao-texto span{
        font-size: 13px;
    }
    .apresentacao-texto p{
        font-size: 13px ;
    }
              
    .container{
        margin-left: 155px !important;
        width: 80px !important;
        height: 30px !important;
        align-items: center !important;
    }
    .btn{
        width: 80px !important;
        height: 30px !important;
    }
    header span{
        font-size: 15px !important;
    }
    .container span{
        font-size: 15px !important;
    }
    svg{
        width: 80px !important;
        height: 30px !important;
    }
    .container-hea{
        margin-left: 0% !important;
        
    }
    .center-hea{
        width: 80px;
        height: 30px;
    }
    .container-hea{
        margin-left: 155px !important;
        width: 80px !important;
        height: 30px !important;
        align-items: center !important;
    }
    .btn-hea{
        width: 80px !important;
        height: 30px !important;
    }
    .container-hea span{
        font-size: 15px !important;
    }
    .img-apresentacao{
        width: 200px;
        height: 200px;
        margin:0%;
    }
    h2{
        font-size: 25px;
        text-align: center;
        width: 200px;
    }
    header ul{
        width: 0px;
        height: 0px;
    }
    
}